{% extends 'base.html' %}

{% block title %}
{{ discipline.name }}
{% endblock %}


{% block body %}
<div class="container mt-5">
<h2>{{ discipline.name }}</h2><br>

    <div class="alert alert-info">
        <p><b>Дисциплина: {{discipline.name}}</b></p>
        <p><b>Преподаватель: {{discipline.teacher.name}}</b></p>
          <a href="/discipline/{{discipline.id}}/delete" class="btn btn-danger">Удалить</a>
          <a href="/discipline" class="btn btn-success">Назад</a>
    </div>
</div>
{% endblock %}